@charset "utf-8";
/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

/* GENERAL */

/* Header */
#cabecera {
    width: 100%;
    height: 197px;
    background-color: #9e3de3;
    display: flex;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    gap: 60px;
} 

h1 {
    color: #ffffff;
    font-size: 100px;
    font-family: "Yeseva One";
    font-size: 6em;
    font-weight: 400;
}

h2 {
    color: #9E3DE3;
    font-family: Amaranth;
    font-size: 75px;
    font-weight: 400;
}

h3 {
    color: var(--Violeta-A, #9E3DE3);
    font-family: Amaranth;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    font-family: "PT Sans";
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
}

.circulo {
    background-color: #ffffff;
    width: 28px;
    height: 27px;
    border-radius: 60px;
}
/* Fin Header */

/* Navegador */

nav ul {
    list-style: none;
}

.navegador {
    width: 100%;
    height: 91px;
    background-color: #9e3de3;
}

.navegador ul {
    display: flex;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px 0px 30px 0px;
}

.navegador a {
    width: 297px;
    height: 71px;
    padding: 6px 40px 8px 40px;
    background-color: #E0B5FF;
    border-radius: 33px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    font-size: 37px;
    color: #9E3DE3;
    text-align: center;
    font-family: Amaranth;
    font-size: 37px;
    font-weight: 400;
}

.navegador a:hover {
    color: #fff;
    background-color: #BE81FB;
    animation-name: hover;
    animation-duration: 290ms;
    animation-direction: normal;
    animation-timing-function: ease-out;
}

@keyframes hover {
    0% {
        color: #9E3DE3;
        background-color: #E0B5FF;
    }

    100% {
        color: #fff;
        background-color: #BE81FB;
    }
}

.navegador a:active {
    color: #ffffff;
    background-color: #D6A0D7;
    font-size: 37px;
    box-shadow: none;
}
/* Fin Navegador */

/* Footer */

.footer {
    width: 100%;
    height: 149px;
    background-color: #9E3DE3;
    display: flex;
    padding: 41px 0px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0px auto;
}

.footer a:hover {
    opacity: 75%;
}


/* Fin Footer */

/*  FIN GENERAL */

/* INDEX */
main {
    width: 100%;
    background-color: #E8D7FC;
}

.bienvenidos {
    width: 1600px;
    height: 1789px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding: 45px 50px 50px 50px;
    align-items: center;
    gap: 34px;
    border: 12px dotted #FFF;
    margin-top: 60px;
    margin-bottom: 60px;
}

.animacion {
    width: 582px;
    height: 91px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}



.ala1 {
    width: 79px;
    height: 73px;
    justify-content: center;
    background-image: url("img/imagenes-index/ala1.svg");
    animation: ala1 1.7s linear 15ms infinite alternate none;
    transform: rotate(5deg);
    }

@keyframes ala1 {
    0% {
        background-image: url("img/imagenes-index/ala1.svg");
        transform: rotate(-19deg);
    }

    50% {
        background-image: url("img/imagenes-index/ala1.svg");
        transform: rotate(0deg)
    }
    
    100% {
        background-image: url("img/imagenes-index/ala1.svg");
        transform: rotate(-20deg)
    }
    } 

    .ala2 {
        width: 79px;
        height: 73px;
        justify-content: center;
        background-image: url("img/imagenes-index/ala2.svg");
        animation: ala2 1.7s linear 15ms infinite alternate none;
        transform: rotate(-5deg);
        }
    
    @keyframes ala2 {
        0% {
            background-image: url("img/imagenes-index/ala2.svg");
            transform: rotate(19deg);
        }
    
        50% {
            background-image: url("img/imagenes-index/ala2.svg");
            transform: rotate(0deg)
        }
        
        100% {
            background-image: url("img/imagenes-index/ala2.svg");
            transform: rotate(20deg)
        }
    } 

    .texto-bienvenida {
        animation: bienvenidos 1s cubic-bezier(0.5, 0, 0.5, 1) both;
        animation-delay: 60ms;
    }

   
@keyframes bienvenidos {
    from {
        transform: translateY(-1em) scale(0.5);
        opacity: 0;
    }
}

.imagen-index {
    border-radius: 25px;
}

.cita {
    width: 1600px;
    height: 114px;
    color: #9E3DE3;
    text-align: center;
    font-family: "PT Sans";
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    padding: 20px 0px;
    border-top: 3px solid #9E3DE3;
    border-bottom: 3px solid #9E3DE3;
}

.cita p {
    color: var(--Violeta-A, #9E3DE3);
    font-family: "PT Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
}

.parrafo-index {
   max-width: 850px;
    height: 166px;
}

/* FIN INDEX */

/* PORTFOLIO */

.galeria_A {
    display: flex;
    align-items: flex-start;
    gap: 130px;
    width: 1597px;
    padding: 60px 20px 60px 0px;
    justify-content: center;
    margin: 0 auto;
}

.caja-imagenes {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 730px;
    padding: 20px;
    padding-bottom: 35px;
    justify-content: center;
    align-items: flex-start;
    border: 12px dotted #FFF;
}

.galeria_imagen {
    display: flex;
    width: 400px;
    height: 721px;
}

.galeria_imagen img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .7;
    transition: .5s ease;
}


.galeria_imagen img:hover {
    cursor: pointer;
    opacity: 1;
    filter: contrast(120%);
}

.galeria_imagen img:active {
    width: 1100px;
    height: 721;
    z-index: 1;
}

.galeria_B {
    margin: 0px auto;
    padding-bottom: 60px;
}

.reels {
    display: flex;
    flex-direction: column;
    width: 1397px;
    height: 886px;
    padding: 0px 50px 15px 79px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border: 12px dotted #FFF;
    margin: 0px auto;
}

.videos {
    display: flex;
    width: 1340px;
    height: 788px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    margin: 0px auto;
}

/* FIN PORTFOLIO */
